

$button-white:#DEDEDC;
$selected-gray:#343434;
$hover-gray:#232323;
$content-gray:#151515;
$content-main-bg:#1C1C1C;
$gray41:#414141;
$content-text:#C3C2B7;
$unselected-gray:#7E7C78;
$icon-hover-gray:#404040;
$light-green:#29CF3A;
$green:#31C540;
$light-red:#E83131;
$red:#DF2C2C;
$caution-red:#C72A2A;
$bg-gray:#EDEDED;
$base-black:#2B2B2E;
$hover-black:#38383C;
$selected-black:#3F3F44;
$yellow:#FBFF00;