@use "../../../styles/global" as *;

//ContentArea.tsx
.p-content{
    width: 100%;
    height: 100%;
    background: $content-gray;
}

//TodayTab.tsx
.p-today{
    &__record{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    &__times{
        display: flex;
        flex-direction: column;
        align-items: center;
        .status{
            font-size: 12px;
            font-weight: 400;
            color: $content-text;
            &.is-tracking{
                color: $green;
            }
            &.is-idling{
                color: $yellow;
            }
        }
        .time{
            margin-top: 8px;
            font-size: 36px;
            font-weight: 400;
            color: $content-text;
        }
    }
    &__button{
        width: 200px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 400;
        border-radius: 200px;
        transition: filter 0.2s ease;
        &:hover{
            filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.25));
        }
        &.is-paused{
            background: $light-green;
            border: 2px solid $green;
            img{
                width: 22px;
            }
        }
        &.is-tracking{
            background: $light-red;
            border: 2px solid $red;
            img{
                width: 22px;
            }
        }
        &.is-idling{
            background: $light-red;
            border: 2px solid $red;
            img{
                width: 22px;
            }
        }
    }
    //マッピング
    &__map{
        width: 684px;
        height: 50px;
        margin: 50px auto 0;
        position: relative;
        border-top: 1px solid $content-text;
        border-bottom: 1px solid $content-text;
        &-area{
            height: 48px;
            position: absolute;
            top: 0;
        }
        p{
            position: absolute;
            bottom: -20px;
            transform: translateX(-50%);
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            color: $content-text;
        }
        .am0{
            left: 0;
        }
        .am4{
            left: 16.6667%;
        }
        .am8{
            left: 33.3334%;
        }
        .am12{
            left: 50%;
        }
        .pm4{
            left: 66.6667%;
        }
        .pm8{
            left: 83.3334%;
        }
        .pm12{
            left: 100%;
        }
    }

    //内訳
    &__bd{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        &-item{
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            color: $unselected-gray;
            .client-color{
                width: 20px;
                height: 20px;
                margin-right: 10px;
                display: block;
                border-radius: 2px;
            }
            .brackets{
                margin-left: 4px;
            }
        }
        &-projects{
            margin: 0 8px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            .project{
                display: flex;
                align-items: center;
                column-gap: 5px;
            }
            .project-color{
                width: 12px;
                height: 12px;
                margin-top: 3px;
                display: block;
                border-radius: 20px;
            }
        }
    }

    //データ
    &__details{
        width: 684px;
        margin: 30px auto 0;
        &-title{
            width: 100%;
            padding-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $unselected-gray;
            border-bottom: 1px solid $selected-gray;
            li{
                font-size: 14px;
                text-align: center;
            }
            .color{
                width: 20px;
                height: 100%;
                margin-right: 20px;
                display: block;
            }
            .start{
                width: 76px;
            }
            .separate{
                width: 34px;
            }
            .finish{
                width: 76px;
                margin-right: 20px;
            }
            .client,.project{
                width: 160px;
                margin-right: 10px;
            }
            .delete{
                width: 30px;
            }
        }
        &-data{
            width: 100%;
            .item{
                width: 100%;
                padding: 12px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid $selected-gray;
            }
            .color{
                width: 20px;
                height: 20px;
                margin-right: 20px;
                display: block;
                border-radius: 10px;
            }
            .start{
                width: 76px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    width: 100%;
                    height: 100%;
                    width: 32px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: $selected-gray;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    color: $content-text;
                    border-radius: 4px;
                }
                .box{
                    width: 32px;
                    height: 30px;
                    position: relative;
                }
                .selects{
                    width: 120%;
                    height: 160px;
                    display: block;
                    position: absolute;
                    top: 32px;
                    left: 50%;
                    transform: translate(-50%,0);
                    border-radius: 4px;
                    background: $base-black;
                    overflow-y: auto;
                    z-index: 1;
                    li{
                        width: 100%;
                        padding: 6px 0;
                        text-align: center;
                        font-family: "Roboto", sans-serif;
                        font-size: 14px;
                        color: $content-text;
                        cursor: pointer;
                        &:hover{
                            background: $hover-gray;
                        }
                    }
                }
                .cs-time{
                    width: 32px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    color: $unselected-gray;
                    background: $content-main-bg;
                    border-radius: 4px;
                    border: 1px solid $selected-gray;
                }
                .colon{
                    text-align: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: $unselected-gray;
                }
            }
            .separate{
                width: 34px;
                text-align: center;
                font-size: 14px;
                color: $unselected-gray;
            }
            .finish{
                width: 76px;
                margin-right: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    width: 100%;
                    height: 100%;
                    width: 32px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: $selected-gray;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    color: $content-text;
                    border-radius: 4px;
                }
                .box{
                    width: 32px;
                    height: 30px;
                    position: relative;
                }
                .selects{
                    width: 120%;
                    height: 160px;
                    display: block;
                    position: absolute;
                    top: 32px;
                    left: 50%;
                    transform: translate(-50%,0);
                    border-radius: 4px;
                    background: $base-black;
                    overflow-y: auto;
                    z-index: 1;
                    li{
                        width: 100%;
                        padding: 6px 0;
                        text-align: center;
                        font-family: "Roboto", sans-serif;
                        font-size: 14px;
                        color: $content-text;
                        cursor: pointer;
                        &:hover{
                            background: $hover-gray;
                        }
                    }
                }
                .colon{
                    text-align: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: $unselected-gray;
                }
            }
            .tracking{
                width: 76px;
                height: 32px;
                margin-right: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                color: $unselected-gray;
                background: $content-main-bg;
                border-radius: 4px;
                border: 1px solid $selected-gray;
            }
            .client{
                margin-right: 10px;
                .c-select__trigger{
                    width: 160px;
                    border-radius: 4px;
                    background: $selected-gray;
                    color: $content-text;
                }
            }
            .project{
                margin-right: 10px;
                .c-select__trigger{
                    width: 160px;
                    border-radius: 4px;
                    background: $selected-gray;
                    color: $content-text;
                }
            }
            .cs-name{
                width: 160px;
                height: 32px;
                padding: 0 10px 2px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 14px;
                color: $unselected-gray;
                background: $content-main-bg;
                border-radius: 4px;
                border: 1px solid $selected-gray;
            }
            .delete{
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                background: $selected-gray;
                img{
                    width: 16px;
                }
                &.empty{
                    background: $content-main-bg;
                }
            }
        }
        //記録を追加ボタン
        &-add{
            width: 168px;
            height: 30px;
            margin: 12px 0 0 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            font-size: 14px;
            color: $content-text;
            border-radius: 4px;
            background: $selected-gray;
            img{
                width: 18px;
            }
        }
    }
    &__caution{
        width: 460px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 8px;
        background: $content-main-bg;
        border: 1px solid $content-text;
        z-index: 10;
        &-inner{
            width: 100%;
            padding: 50px 0;
            position: relative;
            button{
                width: 28px;
                position: absolute;
                top: 5px;
                right: 5px;
                &:hover{
                    opacity: 0.75;
                }
            }
            p{
                text-align: center;
                font-size: 16px;
                line-height: 1.5;
                color: $content-text;
                .message{
                    white-space: pre-line;
                }
            }
        }
    }
}

//ProjectDetail.tsx
.p-project{
    &__times{
        display: flex;
        align-items: center;
        column-gap: 30px;
        .box{
            display: flex;
            align-items: center;
        }
        .name{
            margin-right: 20px;
            font-size: 14px;
            line-height: 1.2;
            color: $content-text;
        }
        .number{
            font-family: "Roboto", sans-serif;
            font-size: 42px;
            font-weight: 400;
            color: $content-text;
        }
    }
    &__graph{
        width: 700px;
        margin: 40px auto 0;
        &-bar{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: 1px solid $content-text;
            .bar{
                width: 16px;
                padding: 0 4px;
                position: relative;
                &:hover{
                    .time{
                        opacity: 1;
                    }
                }
                .bg{
                    width: 100%;
                    display: block;
                }
                .time{
                    position: absolute;
                    top: -4px;
                    left: 50%;
                    transform: translate(-50%,-100%);
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    color: $content-text;
                    opacity: 0;
                }
            }
        }
        &-date{
            width: 100%;
            margin-top: 6px;
            display: flex;
            justify-content: space-between;
            p{
                width: 16px;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-size: 12px;
                color: $unselected-gray;
            }
        }
    }
    &__calendar{
        width: 700px;
        margin: 40px auto 0;
        &-head{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                width: 100px;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-size: 12px;
                color: $unselected-gray;
            }
        }
        &-main{
            width: 100%;
            margin-top: 5px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            border-top: 1px solid $selected-gray;
            .box{
                height: 64px;
                padding: 2px;
                border-bottom: 1px solid $selected-gray;
                border-right: 1px solid $selected-gray;
                &:nth-of-type(7n){
                    border-right: none;
                }
            }
            .btn{
                width: 100%;
                height: 100%;
                position: relative;
                padding-top: 26px;
                &:hover{
                    background: $hover-gray;
                }
                &:disabled{
                    cursor: default;
                    &:hover{
                        background: $content-main-bg;
                    }
                }
                .date{
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    color: $unselected-gray;
                }
                .working-time{
                    text-align: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 18px;
                    color: $content-text;
                }
            }
        }
    }
}
